:root {
  --transition-time: 1.2s;
 }
 html, body {
  margin: 0%;
  padding: 0%;
  border: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(36, 35, 33);
 }
 iframe {
  margin: 0%;
  padding: 0%;
  border: none;
  display: inline-block;
  position: absolute;
  z-index: 0;
 }
 .vl {
  border-left: 0.35vw solid black;
  height: 100%;
  position: absolute;
  margin-left: 45%;
  top: 0;
 }
 .panel {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 45%;
  height: 100%;
  transition: left var(--transition-time) ease;
  z-index: 1; 
 }
 /* -----------------------------------All Buttons & Animation----------------------------------- */
 /* Buttons in General */
 .iconClass {
  height: 3.9vh;
  width: 2.2vw;
  left: 45%;
  z-index: 1;
  position: absolute;
  text-align: center;
  font-size: 1.4vw;
  cursor: pointer;
  border: 0.35vw solid rgb(0, 0, 0);
  line-height: 1.6;
  transition: width calc(var(--transition-time) * 3 / 20), background-color calc(var(--transition-time) / 4) ease;
  color: white;
 }
 .iconClass:hover {
  width: 4.2vw;
 }
 .button {
  position: absolute;
  transition: left var(--transition-time) ease;
  z-index: 2; 
 }
 .button input[type="checkbox"] {
  display: none;
 }
 /* Map Button */
 #mapIcon {
  background-color: rgb(215, 43, 43);
  top: 0%;
 }
 #mapIcon:hover {
  background-color: rgb(127, 17, 17);
 }
 /* Industry Button */
 #industryIcon {
  background-color: rgb(66, 84, 217);
  top: 10%;
  margin-left: -45%;
 }
 #industryIcon:hover {
  background-color: rgb(20, 29, 155);
 }
 /* Diplomacy Button */
 #diplomacyIcon {
  background-color: rgb(78, 51, 122);
  top: 15%;
  margin-left: -45%;
 }
 #diplomacyIcon:hover {
  background-color: rgb(29, 13, 85);
 }
 /* Shop/Territory/War Button */
 #warIcon {
  background-color: rgb(40, 106, 53);
  top: 20%;
  margin-left: -45%;
 }
 #warIcon:hover {
  background-color: rgb(10, 56, 23);
 }
/* Statistics/Stats Button */
#statIcon {
  background-color: rgb(194, 101, 39);
  top: 0%;
 }
 #statIcon:hover {
  background-color: rgb(127, 65, 17);
 }
 /* Settings Button */
 #settingIcon {
  background-color: rgb(110, 110, 110);
  top: 20%;
  margin-left: -45%;
 }
 #settingIcon:hover {
  background-color: rgb(44, 44, 44);
 }
 /* Animation for Tabs */
 .button.animate {
  left: 45%;
 }
 .button.return {
  left: 0%;
 }
 .panel.animate {
  left: 0%;
 }
 .panel.return {
  left: -45%;
 }
 /* -----------------------------------Side Tabs----------------------------------- */

/* Industry */
.stockPanel{
  height:12vh;
  width:35vw;
  position:absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-left:14%;
  cursor: pointer;
}

.stockPanelBack {
  transform: rotateX(180deg);
}

.StockBoxStyle{
  height:12vh;
  width:35vw;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  margin-top: 4.5%;
}
/* Note to dannnymanny -- Idk how to condense this into just one thing or if thats even possible (prob not) */
.medicineFlip.is-flipped {
  transform: rotateX(180deg);
}

.scienceFlip.is-flipped {
  transform: rotateX(180deg);
}

.miningFlip.is-flipped {
  transform: rotateX(180deg);
}

.agricultureFlip.is-flipped {
  transform: rotateX(180deg);
}

.businessFlip.is-flipped {
  transform: rotateX(180deg);
}

.energyFlip.is-flipped {
  transform: rotateX(180deg);
}

#medicinePanel{
  background-color:rgb(201, 37, 37);
}
#medicinePanel:hover{
  transition: background-color 0.2s;
  background-color:rgb(156, 28, 28);
}

#sciencePanel{
  background-color:rgb(201, 37, 37);
  /* background-color:rgba(10, 103, 72, 0.707); */
}
#sciencePanel:hover{
  transition: background-color 0.2s;
  background-color:rgb(156, 28, 28);
}

#miningPanel{
  background-color:rgb(10, 103, 72);
  /* background-color:rgba(5, 52, 36, 0.529); */
}
#miningPanel:hover{
  transition: background-color 0.2s;
  background-color:rgb(8, 85, 60);
}

#agriculturePanel{
  background-color:rgb(10, 103, 72);
  /* background-color:rgba(137, 22, 22, 0.557); */
}
#agriculturePanel:hover{
  transition: background-color 0.2s;
  background-color:rgb(8, 85, 60);
}

#businessPanel{
  background-color:rgb(201, 37, 37);
  /* background-color:rgba(201, 37, 37, 0.718); */
}
#businessPanel:hover{
  transition: background-color 0.2s;
  background-color:rgb(156, 28, 28);
}

#energyPanel{
  background-color:rgb(10, 103, 72);
}
#energyPanel:hover{
  transition: background-color 0.2s;
  background-color:rgb(8, 85, 60);
}


.industryPercent{
  color: rgb(255, 255, 255);
  font-size: 5.6vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: right;
  margin-right: 1vw;
}

.industryName{
  color: rgb(255, 255, 255);
  font-size: 2.2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position:absolute;
  margin-top:-11.5vh;
  margin-left:0.5vw;
}

.industryIcon{
  font-size:4.5vh;
  color: white;
  margin-top:-5vh;
  margin-left:0.6vw;
  position: absolute;
}

.industryChange{
  color: rgba(255, 255, 255, 0.735);
  font-size:0.9vw;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  margin-top:-7.1vh;
  margin-left:0.6vw;
}

.backPanelStyle{
  color: rgba(255, 255, 255, 0.927);
  font-size: 1.3vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position:absolute;
}

.industryBackIcons{
  font-size:2vw;
  color: rgb(255, 255, 255);
  position: absolute;
}

/* Social */

/* Dannie1   I wanted to find a way where they could press a country name/person 
and it then is highlighted a color to show that it has been selected. It should then be the focus/be shown when you hover off of the square.
Couldn't figure out how. I already attached radio buttons to each playerdiv thing (i think it works unless i messed something up 
after checking that it worked)*/

/* Dannie5  When choosing a player, I want it to edit the "Player Name" of the two cards
 to the correct player name (HOWEVER) this may be something to do later idk really. */

.diplomacyPlayerSelect{
  margin-left: 5vw;
  margin-top:15vh;
  height: 12vh;
  width: 37vw;
  border: 0.35vw solid  rgb(49, 47, 46);
  color: rgb(40, 39, 37);
  background-color: rgb(230, 220, 204);
  border-radius:0.5vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  position: absolute;
  z-index: 1; 
  transition: height 0.5s ease;
}

/*Dannie2 This is far less important, but I wanted to try to find a way to get the scroll bar 
to overlay because it looks weird when it isnt overlaid. and thats what the modern designer
in me says to have.*/
.diplomacyPlayerSelect::-webkit-scrollbar { 
  width: 0.5vw;
}

.diplomacyPlayerSelect::-webkit-scrollbar-thumb {
  background-color: #161616;
   border-radius: 500px;
}

.diplomacyPlayerSelect:hover{
  transition-delay:0.4s;
  height: 50vh;
}

.diplomacyPlayerSelect > div:nth-child(4n){
  background-color: rgb(204, 196, 181);
}

.diplomacyUser{
  height:12vh;
  width:36.4vw;
  cursor: pointer;
  transition: background-color 0.15s;
}

.diplomacyUser:hover{
  background-color: rgb(248, 174, 174);
}

.diplomacyPlayerSelect > div:nth-child(4n):hover{
  background-color: rgb(248, 174, 174);
}

.diplomacyRadioButtons{
  position:fixed;
  margin-left:-100vw;
}

.diplomacyFlag{
  margin-left:0.6vw;
  margin-top:1vh;
  height: 9.4vh;
  width: 8vw;
  border: 0.25vw solid  rgb(49, 47, 46);
}

.diplomacyCountryName{
  margin-top:-11vh;
  margin-left:9.5vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size:2vw;
}

.diplomacyPlayerName{
  margin-left:9.5vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  opacity: 70%;
}

.diplomacyCapitalName{
  margin-left:18vw;
  margin-top:-2.3vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  opacity: 70%;
}

#tradeGive{
  margin-top: 32vh;
  margin-left: 5vw;
  height: 50vh;
  width: 17vw;
  border: 0.35vw solid  rgb(49, 47, 46);
  color: rgb(40, 39, 37);
  background-color: rgb(230, 220, 204);
  border-radius:0.5vw;
  position: absolute;
}

#tradeReceive{
  margin-top: 32vh;
  margin-left: 25vw;
  height: 50vh;
  width: 17vw;
  border: 0.35vw solid  rgb(49, 47, 46);
  color: rgb(40, 39, 37);
  background-color: rgb(230, 220, 204);
  border-radius:0.5vw;
  position: absolute;
}

.tradePlayerName{
  margin-left:5.8vw;
  margin-top:1vh;
  width:17vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size:1vw;
}

.tradeTitle{
  margin-top:-0.5vh;
  margin-left:4.4vw;
  width:17vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size:2vw;
}

.tradeItem{
  height:23vh;
  width:23vh;
  margin-left:2vw;
  margin-top:2.4vh;
  border: 0.38vw solid  rgb(49, 47, 46);
  background-color: rgb(210, 202, 187);
  border-radius: 2px;
  transition: background-color 0.2s;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size:2vw;
  text-align: center;
  line-height: 20vh;
}

.tradeItem:hover{
  background-color: rgb(165, 159, 147);
}

.tradeNumBox{
  margin-left: 3.4vw;
  margin-top:2.5vh;
  width:10vw;
  height:5vh;
  background-color: rgb(210, 202, 187);
  border: 0.2vw solid  rgb(56, 54, 52);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:2vw;
  text-align: center;
}
/* Removing arrows on input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


.tradeCategory{
  margin-left:2vw;
  margin-top: 0.5vh;
  font-family: Arial, Helvetica, sans-serif;
}
/* SELECTOR HERE */

/*the container must be positioned relative:*/
.tradeSelect {
  position: relative;
}

.tradeSelect select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: rgb(204, 196, 181);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000000 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000000 transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #2b1f1f;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: rgb(204, 196, 181);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* STATISTICS/STATS PAGE */
















 /* -----------------------------------Info Stats----------------------------------- */
 .defaultStyle{
  border: 0.35vw solid  rgb(90, 86, 82);
  color: rgb(201, 198, 185);
  background-color: rgb(43, 42, 38);
 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  text-align: center;
 }
 .money{
  height: 7%;
  width: 30%;
  font-size: 3.4vw;
  margin-left: 50%;
  margin-top: 2%;
  border-radius: 1vw;
  line-height:7vh;
  z-index: 1;
 }
 .economy{
  height: 6.2vh;
  width: 18vw;
  font-size: 1.6vw;
  margin-left: 56%;
  margin-top: 4.5%;
  border-radius: 1vw;
  line-height:9.2vh;
  z-index: 0;
 }
 .morale{
  height: 7.5vh;
  width: 4vw;
  line-height: 7.5vh;
  font-size: 3.4vw;
  margin-left: 90.6vw;
  margin-top: 3.6vh;
  border-radius: 0.8vw;
 }
 .token {
  height: 6.5vh;
  width: 3.6vw;
  line-height: 6.5vh;
  font-size: 2.6vw;
  border-radius: 0.5vw;
  margin-top: 14%;
 }

 .resourceTiers{
  height: 8vh;
  width: 4.6vw;
  font-size: 1.2vw;
  border-radius: 5vw;
  margin-top:43.5vh;
  z-index: 0;
}
 .resources{
  height: 9.4vh;
  width: 12vw;
  line-height: 9.8vh;
  font-size: 3.8vw;
  border-radius: 4vw;
  margin-top:25%;
  z-index: 1;
 }
 .resourceGainLoss{
  height: 8vh;
  width: 4.6vw;
  font-size: 1.2vw;
  line-height: 13.3vh;
  border-radius: 5vw;
  margin-top:51vh;
  z-index: 0;
 }

 #foodGainLoss{
  color: rgb(201, 37, 37);
 }
 #metalGainLoss{
  color: rgb(10, 103, 72);
 }
 #oilGainLoss{
  color: rgb(10, 103, 72);
 }

 /* .resources {
  width: 158px;
  text-align: center;
  text-indent: 5px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(201, 198, 185);
  border:4px solid rgba(0, 0, 0, 0);
  margin-top: 25%;
  position: absolute;
 }
 .backgroundResource{
  height: 120px;
  width: 120px;
  transform: rotateZ(45deg);
  border-radius: 30px;
  margin-top: 22.8%;
  
 } */
 .military {
  border-radius: 100vw;
  height: 5vh;
  width: 2.7vw;
  line-height: 5vh;
  font-size: 1.2vw;
 }
 


